body {
    margin-top: 0;
     font-family: Arial,  sans-serif;
    background-color: pink;
    padding:0;
}
/*navigation bar*/

nav{
    background-color: navy;
    padding: 15px;
    text-align: center;

   
    border-radius: 10px;
    
} 
nav a{
    color:white;
    font-size: 18xp;
    font-family: Arial, Helvetica, sans-serif;
    transition: 0.3s;
    text-decoration: none;
    margin: 15px;
    font-weight: bold;
    padding: 10px 15px;
    border-radius: 5px;
    
}
a:hover{
    background-color: hotpink;
    color: white;
    /*main content*/
    
}
h1,h2,h3,h4{
    font-size: 40px;
    color: navy;
    text-align: center;
    margin-bottom: 20px;

}
/*Profile section*/
.profile{
    display: flex;
    align-items: center;
    gap: 30px;
    margin-top: 30px;

}
 img{
    
    border-radius: calc(50%);
    border: 3px solid navy;
    

}
/*paragraph*/
p{
    font-size: 18px;
    line-height: 1.8;
    color: black;

}
/*table styling*/
table{
    width: 100%;
    border-collapse:collapse;
    margin-top: 30px;
    background-color: white;

}
th{
    background-color: navy;
    color: white;
    padding: 15px;
    font-size: 18px;


}
td{padding: 12px;
border: 1px solid gray;
}
trnth-child(even){
    background-color: lightgray;
}
/*footer*/
footer{
    text-align: center;
    margin-top:500px;
    background-color: rgb(28, 28, 113);
    color:white;
    padding:10px;
}